.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	box-shadow: #3b393832 0 1px 8px;
	z-index: 3;
	position: sticky;
}
.navbar-logo {
	width: 300px;
	height: 50px;
	margin-left: 30px;
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 10px;
	&:hover {
		cursor: pointer;
	}
}
.navbar-logo-small {
	width: 50px;
	margin: 5px;
	position: absolute;
	left: 0;
}
.navbar-links {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.nav-link {
	margin: 0 30px;
	text-decoration: none;
	color: rgb(235, 182, 24);
	font-size: 1.4rem;
	font-weight: bolder;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);

	&:hover {
		color: rgb(255, 211, 44, 95%);
		border-bottom: rgb(255, 211, 44, 95%) solid 1px;
	}
}
.burger-button {
	font-size: 40px;
	padding: 10px;
	position: absolute;
	right: 5px;
	color: rgb(255, 211, 44, 85%);
}
@media screen and (max-width: 1024px) {
	.header {
		justify-content: center;
	}
	.navbar-links {
		padding: 10px;
	}
}
@media screen and (max-width: 685px) {
	.nav-mobile {
		position: absolute;
		top: 70px;
		display: flex;
		flex-direction: column;
		align-items: center;
		a {
			text-decoration: none;
			color: rgb(255, 211, 44, 95%);
			padding: 5px;
			font-size: 1.5rem;
		}
	}
	.burgermenu {
		background-color: #3b3938eb;
	}
	.header {
		height: 65px;
	}
}
