<header>
	<img
		src="assets/images/logo_large.png"
		alt="logo"
		class="navbar-logo"
		routerLink="/home"
		*ngIf="!isMobile" />

	<img
		src="assets/images/logo_small.png"
		alt="logo"
		class="navbar-logo-small"
		routerLink="/home"
		*ngIf="isMobile" />
	<nav class="navbar-links">
		<a
			routerLink="/le_burguignon"
			class="nav-link"
			>Le Burguignon</a
		>
		<a
			routerLink="/menu"
			class="nav-link"
			>La Carte</a
		>
		<a
			routerLink="/contact"
			class="nav-link"
			>Nous Contacter</a
		>
	</nav>
</header>
