header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: #3b393832 0 1px 8px;
    z-index: 2;
    position: sticky;
}
.navbar-logo{
    width: 30%;
    margin-left: 30px;
    &:hover{
        cursor: pointer;
    }
}
.navbar-links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.nav-link{
    margin: 0 30px;
    text-decoration: none;
    color: #3B3938;
    font-size: 1.5rem;

    &:hover{
		color: rgb(255, 211, 44, 95%);
        border-bottom: rgb(255, 211, 44, 95%) solid 1px;
    }
}
