<!-- crud.component.html -->
<div *ngFor="let item of data; let i = index">
	<div (click)="selectItem(item)">
		{{ item.name }}
		{{ item.img }}
		{{ item.desc }}
		{{ item.firstName }}
		{{ item.lastName }}
		{{ item.email }}
		{{ item.message }}
		<button
			*ngIf="item.isAlterable && true"
			(click)="modifyItem(i)">
			Modifier
		</button>
		<button (click)="deleteItem(i)">Supprimer</button>
		{{ item.isActive }}
	</div>
</div>

<!-- Ajoute des formulaires et des fonctionnalités selon tes besoins -->
