<h1>Commandez dès maintenant !</h1>
<section class="order-logos">
    <img src="assets/images/other_logos/logo_deliveroo.png" alt="Commandez sur Deliveroo" class="order">
    <img src="assets/images/other_logos/logo_ubereats.png" alt="Commandez sur UberEats" class="order">
</section>
<h2>Venez nous voir</h2>
<div class="eat-in">
    <section class="adress">
        <h3>Adresse</h3>
        <p>26 Boulevard De L'Université, 21000 Dijon</p>
    </section>
    <section class="adress">
        <h3>Horaires d'ouverture</h3>
        <p>Du Lundi au Jeudi midi et tous les soirs de 18h à 23h (Dimanche inclu)</p>
    </section>
</div>