.order {
	width: 80px;
	margin: 0 50px;
}
.order-logos {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 0 30px;
}
.row {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}
.eat-in {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
.adress {
	margin: 0 100px;
	width: 400px;
}
