app-carousel {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
}
.order-button {
	padding-top: 310px;
	padding-bottom: 6px;
	text-align: center;
}
.menu {
	background-color: #3b3938;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
h2 {
	text-align: center;
	margin-bottom: 20px;
}
.main-menu {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}
section {
	margin: 20px 0;
}
.snack-menu {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}
