<app-carousel></app-carousel>
<div class="order-button"><app-order-button></app-order-button></div>
<div class="menu">
	<section>
		<h2>Burger du moment</h2>
		<app-descriptive-card></app-descriptive-card>
	</section>
	<section>
		<h2>La carte</h2>
		<div class="main-menu">
			<app-menu-card></app-menu-card><app-menu-card></app-menu-card
			><app-menu-card></app-menu-card><app-menu-card></app-menu-card
			><app-menu-card></app-menu-card><app-menu-card></app-menu-card
			><app-menu-card></app-menu-card>
		</div>
	</section>
	<section>
		<h2>Dessert du moment</h2>
		<app-descriptive-card></app-descriptive-card>
	</section>
	<section>
		<h2>Boisson du moment</h2>
		<app-descriptive-card></app-descriptive-card>
	</section>
	<section>
		<h2>Petite faim</h2>
		<div class="snack-menu">
			<app-menu-card></app-menu-card><app-menu-card></app-menu-card>
		</div>
	</section>
</div>
