<h1>POLITIQUE DE PROTECTION DES DONNÉES PERSONNELLES</h1>
<h2>1. Collecte des données personnelles</h2>
<p>
	Nous pouvons collecter des données personnelles telles que votre nom, votre
	adresse e-mail, votre adresse postale et d'autres informations que vous
	choisissez de nous fournir lorsque vous utilisez ce site ou lorsque vous
	nous contactez.
</p>
<h2>2. Utilisation des données personnelles</h2>
<p>
	Les données personnelles collectées peuvent être utilisées aux fins
	suivantes : Pour répondre à vos demandes et vous fournir les informations ou
	les services demandés Pour améliorer notre site et personnaliser votre
	expérience utilisateur Pour vous envoyer des informations commerciales, des
	newsletters ou des communications promotionnelles, si vous avez donné votre
	consentement préalable Pour gérer les transactions, le cas échéant, et
	traiter les paiements Pour détecter, prévenir et résoudre les problèmes
	techniques ou de sécurité
</p>
<h2>3. Conservation des données personnelles</h2>
<p>
	Nous conservons vos données personnelles aussi longtemps que nécessaire pour
	atteindre les objectifs pour lesquels elles ont été collectées, sauf si la
	loi l'exige autrement. Nous mettons en place des mesures de sécurité
	appropriées pour protéger vos données personnelles contre tout accès non
	autorisé, toute divulgation, toute altération ou destruction.
</p>
<h2>4. Partage des données personnelles</h2>
<p>
	Nous ne vendons, n'échangeons ni ne louons vos données personnelles à des
	tiers, sauf dans les cas suivants : Lorsque cela est nécessaire pour fournir
	les services demandés ou exécuter une transaction Si nous y sommes
	légalement tenus ou si nous pensons de bonne foi que la divulgation est
	nécessaire pour protéger nos droits, votre sécurité ou la sécurité des
	autres Avec votre consentement préalable
</p>
<h2>5. Vos droits</h2>
<p>
	Vous avez le droit d'accéder à vos données personnelles, de les rectifier,
	de les supprimer ou de restreindre leur traitement. Vous avez également le
	droit de vous opposer au traitement de vos données personnelles ou de
	demander la portabilité de vos données. Pour exercer vos droits, veuillez
	nous contacter à l'adresse indiquée ci-dessous.
</p>
<h2>6. Cookies et technologies similaires</h2>
<p>
	Nous utilisons des cookies et des technologies similaires pour améliorer
	votre expérience sur ce site. Vous pouvez paramétrer votre navigateur pour
	refuser les cookies, mais cela peut affecter certaines fonctionnalités du
	site.
</p>
<h2>7. Modifications de la Politique de Protection des Données Personnelles</h2>
<p>
	Nous nous réservons le droit de modifier cette Politique de Protection des
	Données Personnelles à tout moment. Les modifications seront publiées sur
	cette page. Nous vous encourageons à consulter régulièrement cette politique
	pour rester informé(e) de toute mise à jour.
</p>
<h2>8. Contact</h2>
<p>
	Si vous avez des questions ou des préoccupations concernant cette Politique
	de Protection des Données Personnelles, veuillez nous contacter à l'adresse
	suivante :
</p>
<p>contact.le.burguignon@gmail.com</p>
