# Ignorer les fichiers de configuration pour les deux parties (frontend et backend)
Back/config/config.js
Back/config/user.js

# Ignorer les dépendances Node.js (pour éviter de les inclure dans le dépôt)
Back/node_modules/
Front/node_modules/

# Autres fichiers et dossiers à ignorer (le cas échéant)
Front/.angular
Front/.vscode

.DS_Store
Front/.DS_Store