<div class="landing-page">
	<img
		src="assets/images/logo_large.png"
		alt="logo"
		class="logo" />
	<div class="all">
		<section class="left-section">
			<p>
				Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi aperiam
				vero adipisci nisi ipsum aliquid accusantium quam cupiditate id quis
				consectetur eos, neque deserunt officia placeat sunt illo tempore
				blanditiis!
			</p>
			<div>
				<div>
					<button class="btn">Continuer</button>
					<app-order-button class="btn"></app-order-button>
				</div>
				<p class="adress">26 Boulevard de l'Université, 21000 Dijon</p>
			</div>
		</section>
		<img
			src="assets/images/placeholders/catto.jpg"
			alt="le burger du moment"
			class="current-burger" />
	</div>
</div>
