<div class="landing-page">
	<div class="button">
		<button class="btn">Aller sur le site</button>
	</div>
	<img
		src="assets/images/logo_large.png"
		alt="logo"
		class="logo" />
	<div class="all">
		<section class="left-section">
			<p class="burger-desc">
				Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi aperiam
				vero adipisci nisi ipsum aliquid accusantium quam cupiditate id quis
				consectetur eos, neque deserunt officia placeat sunt illo tempore
				blanditiis!
			</p>
			<div>
				<img
					src="assets/images/other_logos/logo_ubereats.png"
					alt="ubereats"
					class="order" />
				<img
					src="assets/images/other_logos/logo_deliveroo.png"
					alt="deliveroo"
					class="order" />
			</div>
			<p class="adress">26 Boulevard de l'Université, 21000 Dijon</p>
		</section>
		<img
			src="assets/images/placeholders/catto.jpg"
			alt="le burger du moment"
			class="current-burger" />
	</div>
</div>
