header {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
	background-color: #3b3938;
}
.navbar-logo {
	width: 70%;
	&:hover {
		cursor: pointer;
	}
}
a {
	text-decoration: none;
	margin: 0 40px;
	font-size: 1.4rem;
	color: white;
	&:hover {
		color: rgb(255, 211, 44, 95%);
	}
}
.col {
	padding: 10px 20px;
	display: flex;
	align-items: center;
	font-size: 1rem;
	justify-content: flex-end;
	color: white;
}
.active {
	text-decoration: underline;
	color: rgb(255, 211, 44, 95%);
}
