.p-desc {
	color: white;
	text-align: center;
	margin-bottom: 40px;
	width: 500px;
}
.img-desc {
	height: 300px;
	width: 450px;
	object-fit: cover;
	margin: 0 60px;
}
.desc-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
