<h1 class="h1">mentions légales</h1>
<h2>Ce site est édité par :</h2>
<p>M. NOHU Hakim</p>
<h2>Siège social :</h2>
<p>26 Boulevard DE L UNIVERSITE <br />21000 DIJON</p>
<h2>Contacts de l'entreprise :</h2>
<p>
	Email
	<br />03 80 27 60 85
</p>
<h2>Identification de l'entreprise</h2>
<p>
	Forme juridique : SAS
	<br />Code NAF / APE : 5610C (restauration de type rapide) <br />Raison
	sociale : AMAZHIG FOOD <br />Numéro d'identification à la TVA
	intracommunautaire : FR04920266319 <br />Immatriculation RCS : 920266319
</p>
<h2>Ce site est hébergé par :</h2>
<p>
	Hostinger
	<br />Hostinger International Ltd. <br />Adresse: 61 Rue Lordou Vironos,
	6023, Larnaca, Chypre.
</p>
