<section>
	<button
		class="add btn"
		routerLink="/dashboard/menu/regular-burger-crud">
		Retour
	</button>
	<h2>Modifier un burger</h2>
	<form
		(submit)="onSubmit()"
		[formGroup]="itemForm">
		<label for="name">Nom</label>
		<input
			id="name"
			type="text"
			class="name"
			formControlName="name" />
		<label
			for="image"
			class="label"
			><img
				[src]="imgUrl"
				alt="Selected Image"
				*ngIf="!imagePreviewUrl && imgUrl"
		/></label>
		<input
			type="file"
			(change)="onFileSelected($event)"
			formControlName="selectedImage"
			style="display: none"
			id="image" />
		<label
			for="image"
			class="label"
			><img
				[src]="imagePreviewUrl"
				alt="Selected Image"
				*ngIf="imagePreviewUrl"
		/></label>
		<label for="description">Description:</label>
		<textarea
			id="description"
			name="description"
			formControlName="description"
			required></textarea>

		<button
			type="submit"
			class="button">
			Modifier
		</button>
	</form>
</section>
