section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 1px solid black;
	padding: 40px;
	background-color: #3b3938;
	color: white;
}
.btn {
	background-color: rgb(255, 211, 44, 95%);
	padding: 5px 15px;
	border: 0;
	border-radius: 20px;
	font-weight: bold;
	font-size: 1rem;
	&:hover {
		cursor: pointer;
	}
}
.crudImageButton {
	height: 30px;
	width: 300px;
	border: 1px solid black;
	text-align: center;
}
img {
	height: 150px;
	width: 400px;
	object-fit: cover;
}
.label,
textarea {
	margin-bottom: 30px;
}
textarea {
	width: 300px;
	height: 200px;
	resize: none;
}
