<div class="landing-page">
	<img
		src="assets/images/logo_large.png"
		alt="logo"
		class="logo" />
	<div class="all">
		<section class="left-section">
			<p>
				Venez découvrir notre Burger du moment, toujours avec des produits frais
				et locaux. <br />
				Il est accompagné de frites et d'une boisson, pour un maximum de
				plaisir.
			</p>
			<div>
				<div>
					<button
						class="button"
						routerLink="/home">
						Continuer
					</button>
					<app-order-button></app-order-button>
				</div>
				<p class="adress">26 Boulevard de l'Université, 21000 Dijon</p>
			</div>
		</section>
		<img
			src="assets/images/placeholders/catto.jpg"
			alt="le burger du moment"
			class="current-burger" />
	</div>
</div>
