<div class="landing-page">
	<img
		src="assets/images/logo_large.png"
		alt="logo"
		class="logo" />
	<div class="all">
		<section class="left-section">
			<p class="hide">
				Venez découvrir notre Burger du moment, toujours avec des produits frais
				et locaux. <br />
				Il est accompagné de frites et d'une boisson, pour un maximum de
				plaisir.
			</p>
			<div>
				<div>
					<button
						class="button"
						routerLink="/home">
						Continuer
					</button>
					<app-order-button class="hide"></app-order-button>
				</div>
				<p class="adress hide">26 Boulevard de l'Université, 21000 Dijon</p>
			</div>
		</section>
		<div
			*ngFor="let item of temporary_items"
			class="current-burger">
			<div class="desc-container">
				<img
					[src]="item.imgUrl"
					alt="Burger du moment"
					class="img-desc" />
			</div>
		</div>
	</div>
</div>
