<div>
	<h2>Modifier un Élément du Carrousel</h2>
	<form
		(submit)="onSubmit()"
		[formGroup]="itemForm">
		<label for="image">Image:</label>
		<img
			[src]="imgUrl"
			alt="Selected Image"
			*ngIf="imgUrl" />
		<input
			type="file"
			(change)="onFileSelected($event)"
			formControlName="selectedImage" />
		<label for="description">Description:</label>
		<textarea
			id="description"
			name="description"
			formControlName="description"
			required></textarea>

		<button type="submit">Modifier</button>
	</form>
</div>
