<div>
	<h2>Créer un Nouvel Élément du Carrousel</h2>
	<form
		(submit)="onSubmit()"
		[formGroup]="itemForm">
		<label for="image">Image:</label>
		<input
			type="file"
			(change)="onFileSelected($event)"
			formControlName="selectedImage"
			[(ngModel)]="item.imgUrl" />

		<label for="description">Description:</label>
		<textarea
			id="description"
			name="description"
			formControlName="description"
			[(ngModel)]="item.description"
			required></textarea>

		<button type="submit">Créer</button>
	</form>
</div>
