<section>
	<button
		class="add btn"
		routerLink="/dashboard/carousel-crud">
		Retour
	</button>
	<h2>Modifier un Élément du Carrousel</h2>
	<form
		(submit)="onSubmit()"
		[formGroup]="itemForm">
		<label
			for="image"
			class="label"
			><img
				[src]="imgUrl"
				alt="Selected Image"
				*ngIf="!imagePreviewUrl && imgUrl"
		/></label>
		<input
			type="file"
			(change)="onFileSelected($event)"
			formControlName="selectedImage"
			style="display: none"
			id="image" />
		<label
			for="image"
			class="label"
			><img
				[src]="imagePreviewUrl"
				alt="Selected Image"
				*ngIf="imagePreviewUrl"
		/></label>
		<button
			type="submit"
			class="button">
			Modifier
		</button>
	</form>
</section>
