@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
	margin: 0;
}
.button {
	background-color: rgb(255, 211, 44, 95%);
	height: 30px;
	width: 200px;
	border: 0px;
	border-radius: 20px;
	font-size: 1.2rem;
	letter-spacing: 1.5px;

	&:hover {
		background-color: rgb(255, 200, 0);
		box-shadow: inset 0 0 0 3px #00000048;
		cursor: pointer;
	}
}
a:hover {
	cursor: pointer;
}
.button,
h1,
h3,
label {
	font-family: 'Open Sans', sans-serif;
}
h2,
a,
p,
h4 {
	font-family: 'Poppins', sans-serif;
}
h1 {
	font-size: 3rem;
	text-transform: uppercase;
	text-align: center;
}
h2 {
	font-size: 1.8rem;
}
h3 {
	font-size: 1.5rem;
}
p,
li,
h4 {
	font-size: 1.2rem;
}
//for all cruds
.crudImageButton {
	font-size: 1.2em;
	padding: 5px;
	border: 1px solid black;
	border-radius: 4%;
}
