<section class="contact-container">
	<h2>Besoin d'un renseignement?</h2>
	<div class="form">
		<form
			[formGroup]="itemForm"
			(ngSubmit)="onSubmit()">
			<div class="name">
				<div class="short-container">
					<label for="firstName">Prénom</label>
					<input
						type="text"
						id="firstName"
						formControlName="firstName" />
				</div>
				<div class="short-container">
					<label for="lastName">Nom</label>
					<input
						type="text"
						id="lastName"
						formControlName="lastName" />
				</div>
			</div>
			<div class="long-container">
				<label for="email">Email</label>
				<input
					type="email"
					id="email"
					formControlName="email" />
			</div>
			<div class="long-container">
				<label for="message">Message</label>
				<textarea
					id="message"
					formControlName="message"></textarea>
			</div>

			<button
				type="submit"
				class="button">
				Envoyer
			</button>
			<p *ngIf="message">{{ this.message }}</p>
		</form>
		<img
			src="assets/images/logo_small.png"
			alt="logo"
			class="logo" />
	</div>
</section>
