<!-- carousel-list.component.html -->

<div>
	<h2>Liste des Éléments du Carrousel</h2>
	<ul>
		<li *ngFor="let item of items">
			<span
				><img
					src="{{ item.imgUrl }}"
					alt="Image de l'Item"
			/></span>
			<span>{{ item.description }}</span>
			<button (click)="goToUpdatePage(item.CarouselItem_id)">
				Modifier
			</button>
			<button (click)="deleteItem(item.CarouselItem_id)">
				Supprimer
			</button>
		</li>
	</ul>

	<button (click)="goToCreatePage()">Ajouter un Élément</button>
</div>
