<footer>
	<nav class="footer-nav">
		<div class="two-contacts">
			<section class="contact">
				<fa-icon [icon]="faPhone"></fa-icon>
				<p class="contact-text">03 80 27 60 85</p>
			</section>
			<section>
				<a
					href="https://www.instagram.com/le.burguignon/"
					class="contact">
					<fa-icon [icon]="faInstagram"></fa-icon>
					<p class="contact-text">Instagram</p>
				</a>
			</section>
		</div>
		<div class="two-contacts">
			<!-- <section class="contact">
				<fa-icon [icon]="faEnvelope"></fa-icon>
				<p class="contact-text">{{ mail }}</p>
			</section> -->
			<section class="contact">
				<fa-icon [icon]="faSnapchat"></fa-icon>
				<p class="contact-text">Leburguignon</p>
			</section>
		</div>
	</nav>
	<div>
		<section>
			<h3>Adresse</h3>
			<p>26 Boulevard De L'Université, 21000 Dijon</p>
		</section>
		<section class="open">
			<h3>Horaires d'ouverture</h3>
			<p>
				Du Lundi au Jeudi midi et tous les soirs de 18h à 23h (Dimanche
				inclu)
			</p>
		</section>

		<fa-icon
			class="login"
			[icon]="faGear"
			routerLink="/login"></fa-icon>
	</div>
	<div class="legal">
		<p routerLink="/data_protection">
			POLITIQUE DE PROTECTION DES DONNÉES PERSONNELLES
		</p>
		<p routerLink="/legal">MENTIONS LÉGALES</p>
	</div>
</footer>
