footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: #3b3938;
	padding: 10px;
	z-index: 2;
}
.footer-nav {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 500px;
	margin-left: 30px;
}
.two-contacts {
	display: flex;
	flex-direction: row;
}
.contact {
	display: flex;
	flex-direction: row;
	width: 350px;
}
fa-icon,
.contact-text {
	font-size: 1.4rem;
}
fa-icon {
	color: rgb(255, 211, 44, 95%);
	display: flex;
	align-self: center;
	margin: 0 10px;
}
p {
	margin: 0;
	font-size: 1.2rem;
}
p,
h3 {
	color: white;
}
h3 {
	font-size: 1.4rem;
	margin: 0;
}

a {
	text-decoration: none;
}
.login {
	margin-right: 20px;
	&:hover {
		cursor: pointer;
	}
}
