<div class="background-photo">
	<div class="titles">
		<h1>Le Burguignon</h1>
		<h2>Slogan</h2>
	</div>
	<app-order-button></app-order-button>
</div>
<article class="le-burguignon">
	<h3 class="h3-b">Le Burguignon</h3>
	<section class="explain">
		<div class="explain-text">
			<p>
				Le Burguignon, c'est simplement la promesse d'un moment convivial seul
				ou en famille devant un burger de qualité, aux produits locaux et au
				goût authentique. <br /><br />
				Nos viandes sont hallal et nous confectionnons tout sur place.
			</p>
			<a
				href="https://g.co/kgs/2yrjvN"
				target="_blank"
				><h4>
					Ils l'ont goûté
					<fa-icon
						[icon]="faStar"
						id="star"
						*ngFor="let star of [0, 1, 2, 3, 4]"></fa-icon></h4
			></a>
		</div>
		<img
			src="assets/images/logo_small.png"
			alt="logo" />
	</section>
</article>
<article class="now">
	<h3 class="h3-n">En ce moment</h3>
	<section class="rn">
		<app-menu-card></app-menu-card>
		<app-menu-card></app-menu-card>
		<app-menu-card></app-menu-card>
	</section>
	<button
		class="button"
		routerLink="/menu">
		Voir la carte
	</button>
</article>
<app-ordering></app-ordering>
