.le-burguignon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 60px 0 140px 0;
}
.text{
    width: 40%;
}
.logo{
    display: flex;
    align-self: center;
    width: 400px;
    height: 400px;
}