<h2>Le Burguignon</h2>
<section class="le-burguignon">
	<div class="text">
		<h3>Le Burguignon, c'est quoi?</h3>
		<p>Chez Le Burguignon, vos burgers sont faits maison avec :</p>
		<ul>
			<li>Des viandes sélectionnées d'origine Française</li>
			<li>Des pains confectionnés par notre artisan boulanger</li>
			<li>Des fruits et légumes issus de la ferme locale</li>
			<li>Des fromages locaux</li>
		</ul>
		<p>Mais ici, vos burgers sont également accompagnés :</p>
		<ul>
			<li>De frites</li>
			<li>De sauces originales</li>
			<li>De desserts gourmants</li>
		</ul>
		<p>Le tout fait maison</p>
		<p>
			Le Burguignon, c'est aussi un cadre convivial avec une équipe
			souriante et compétente qui vous accueillera afin de vous faire
			découvrir ces burgers qui vous feront chavirer de plaisir.
		</p>
	</div>
	<img
		src="assets/images/logo_small.png"
		alt="logo"
		class="logo" />
</section>
<section class="ducs">
	<h3>Mais pourquoi ces noms pour nos burgers?</h3>
	<p>
		Vous l'aurez remarqué, nos burgers ont des noms particulier en ça qu'ils
		portent chacun le nom d'un Duc de Bourgogne.
	</p>
</section>
