.le-burguignon{
    flex-direction: row;
    margin: 60px 0 0 0;
}
.text{
    width: 40%;
}
.logo{
    display: flex;
    align-self: center;
    width: 400px;
    height: 400px;
}
.le-burguignon, .ducs{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ducs{
    flex-direction: column;
    margin-bottom: 40px;
  
}